<div class="container">
    <div class="team_member rounded shadow-lg p-8 scale hover:scale-105 transition duration-300 ease-in-out">
        @if(member?.image){<div class="member_img"><img id="memberPic" src="{{member?.image}}" alt="our_team" style="width: 300px;"><small id="photoCredit"></small></div>}
        <h2 id="name" style="padding-top: 10px;">{{member?.name}}</h2>
        <h3 id="major" style="padding-top: 0px;font-size: 18px;">{{member?.major}}</h3>
        <div class="[&>*]:ml-1 [&>*]:mr-1 [&>*]:px-8" id="button-carousel" style="padding-top: 0px;">
            @if(member?.email){<a mat-button href="mailto:{{member?.email}}" id="email" type="button" style="color: #fff;font-family: 'Raleway';width: 68.3516px;font-size: 13.333px;">Email</a>}
            @if(member?.resume){<a mat-button href="{{member?.resume}}" id="resume" type="button" style="color: #fff;font-family: 'Raleway';width: 68.3516px;font-size: 13.333px;">Resume</a>}
            @if(member?.linkedin){<a mat-button href="{{member?.linkedin}}" id="linkedin" type="button" style="color: #fff;font-family: 'Raleway';width: 68.3516px;font-size: 13.333px;">LinkedIn</a>}
        </div>
    </div>
</div>
