<mat-toolbar-row class="bg-gradient-to-r from-slate-50 to-red-800 w-full">
    <span class="inline-flex items-center px-2 mr-4">
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-black hover:text-gray-100">Home</a>
    </span>
    <span class="inline-flex items-center px-2 mr-4">
        <a routerLink="/members" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-black hover:text-gray-100">Members</a>
    </span>
    <span class="inline-flex items-center px-2 mr-4">
        <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-black hover:text-gray-100">Contact</a>
    </span>
    <span class="inline-flex items-center px-2 mr-4">
        <a routerLink="/calendar" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-black hover:text-gray-100">Calendar</a>
    </span>
    <span class="inline-flex items-center px-2 mr-4">
        <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-black hover:text-gray-100">About</a>
    </span>
</mat-toolbar-row>
